:root {
  --component-color: #2c3e50;
  --text-light: #f0f0f0;
  --text-dark: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: grid;
  grid-template-areas: 
    ". searchbar"
    ". content";
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 3rem 1fr;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
  padding: 1.5rem 2rem;
}

.text-light {
  color: var(--text-light)
}

.text-dark {
  color: var(--text-dark);
}

#searchbar {
  grid-area: searchbar;
  display: flex;
  gap: 1rem;
}

input {
  padding-left: 24px;
  color: #e0eafc;
  background-color: var(--component-color);
  border-radius: 2rem;
  border: none;
  width: 50%;
}

input::placeholder {
  color: #c9d6ff;
  opacity: 0.25;
}

input::after {
  border: none;
}

#search-button {
  min-width: 96px;
  background-color: var(--component-color);
  border-radius: 2rem;
  color: #e0eafc;
  border: none;
}

#content {
  grid-area: content;
  display: grid;
  grid-template-areas: 
    "       overview        daily-forecast"
    "    hourly-forecast    daily-forecast"
    "atmospheric-conditions daily-forecast";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
}

#overview {
  grid-area: overview;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

#overview-text, #temperatures-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#location-text {
  font-size: 1.25rem;
  font-weight: bold;
}

#conditions-text {
  font-weight: 600;
  opacity: 0.75;
}

#temperatures-text span:first-child {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: bold;
}

#temperatures-text span:nth-child(2) {
  opacity: 0.75;
}

.icon-large {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: auto;
}

img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

#hourly-forecast, #atmospheric-conditions {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: var(--component-color);
  color: var(--text-light);
}

#hourly-forecast {
  grid-area: hourly-forecast;
  gap: 0.5rem;
}

#atmospheric-conditions {
  grid-area: atmospheric-conditions;
  gap: 1rem;  
}

#hourly-forecast-title, #atmospheric-conditions-title {
  padding-left: 2.5%;
  font-weight: bold;
}

#hourly-tiles {
  display: flex;
    justify-content: space-around;
    height: 100%;
}

.hour-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hour-info span {
  font-weight: 400;
}

.icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: auto;
}

.vertical-divider {
  width: 0.0625rem;
  background-color: grey;
  opacity: 0.25;
  align-self: center;
  height: 75%;
}

#atmospheric-conditions-grid {
  display: grid;
  justify-items: start;
  align-items: center;
  gap: 1.25rem;
  padding: 0 5% 0 5%;
  grid-template-areas: 
    "humidity precipprob"
    "windspeed uvindex";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#humidity {
  grid-area: humidity;
}

#precipprob {
  grid-area: precipprob;
}

#windspeed {
  grid-area: windspeed;
}

#uvindex {
  grid-area: uvindex;
}

.atmospheric-condition-header {
  display: flex;
  opacity: 0.75;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
}

.atmospheric-condition-value {
  padding-left: 2.5%;
  font-weight: 600;
}

#daily-forecast {
  grid-area: daily-forecast;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 0 1rem 0;
  gap: 1rem;  
  color: var(--text-light);
  background-color: var(--component-color);
}

#daily-forecast-title {
  padding-left: 7.5%;
  font-weight: bold;
}

#daily-tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.day-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal-divider {
  height: 0.0625rem;
  background-color: grey;
  opacity: 0.25;
  align-self: center;
  width: 85%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background 3s ease-in-out, opacity 1s ease-in-out;
}

.fade-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}   

.bg-default {   
  background: linear-gradient(to bottom right, #0f141a, #1c2a38); 
}

.bg-day-clear {
  background: linear-gradient(to top, #87cefa, #f0f8ff);
}

.bg-night-clear {
  background: linear-gradient(to top, #001f3f, #0d1b2a);
}

.bg-rain {
  background: linear-gradient(to top, #3a6073, #16222a);
}

.bg-snow {
  background: linear-gradient(to top, #e0eafc, #cfdef3);
}

.bg-fog {
  background: linear-gradient(to top, #c9d6ff, #e2e2e2);
}